.container {
    display: flex;
    width: 100%;
    gap: 10vw;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #120730;
}
.level1{
    background-color: #CFF47C;
    border-radius: 6px;
    color: #82AC23;
}
.level2{
    background-color: #FFCEA2;
    border-radius: 6px;
    color: #B87D26;
}
.level3{
    background-color: #FF8282;
    border-radius: 6px;
    color: #FF0000;
}
.level4{
    background-color: #CFF47C;
    border-radius: 6px;
    color: #82AC23;
}
a {
    display:block;
    color: #590036;
}
body {
    background: #120730;
}

/* Green (light): #CFF47C
    Green (dark): #82AC23
    Pink (light): #D86EAE
    Pink (dark): #911E64
    Blue (light): #6992bf
    Blue (dark): #204B78
 */
